parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true
    facebook_app_id:  444223512382329
    facebook_app_secret:  f412871008b891e4ab063ed6c0bfd950
    google_app_id:  1028129198528-i473i4mil7gv5fart9jea4kcv63m22ns.apps.googleusercontent.com
    google_app_secret:  8617803331f716303b55ec54ba064881f6d1ea40
